{% extends 'base.html' %}
{% block content %}

<h1>Workouts</h1>
{%for workout in workouts%}
<div class="card">
  <a href="{%url 'detail' workout.id%}">
    <div class="card-content">
      <h3>{{workout.name}}</h3>
        <span class="card-title"><p>Breed: {{ workout.breed }}</p>
            <p>Description: {{ workout.description |linebreaks }}</p>
            {% if workout.age > 0 %}
              <p>Age: {{ workout.age }}</p>
            {% else %}
              <p>Age: Kitten</p>
            {% endif %}
    </div>
  </a>
</div>

{% endfor %}
{% endblock %}